<main>
    <section class="quienes-somos-imagen">
        <div class="quienes-somos-hero">
            <h1 class="quienes-somos-hero h1"> Sobre Nosotros </h1>
            <p class="quienes-somos-hero-contenido-p"> Conocé al equipo detrás de El Rejunte Hotel.</p>
        </div>
    
        <section class="quienes-somos-historia">
            <div class="seccion-inner">
                <div class="row align-items-center g-5">

                    <div class="col-12 col-lg-6">
                        <div class="quienes-somos-historia-texto">
                            <h1 class="seccion-subtitulo" style="color: var(--blanco)">PROPÓSITO Y VALORES</h1>
                            <p>El Rejunte Hotel nace con el objetivo de optimizar la gestión hotelera mediante
                                herramientas
                                digitales que reduzcan la fricción operativa y mejoren la experiencia del huésped.</p>
                            <p>Como equipo de desarrollo, nuestra meta es ofrecer una arquitectura de software que
                                permita
                                una administración ágil, segura y escalable, aplicando los conocimientos adquiridos en
                                nuestro proceso de formación técnica para resolver problemas reales del sector.</p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="row g-3">
                            <div class="col-12 col-md-6">
                                <p class="valor-tarjeta">Trabajo en Equipo</p>
                            </div>
                            <div class="col-12 col-md-6">
                                <p class="valor-tarjeta">Innovación</p>
                            </div>
                            <div class="col-12 col-md-6">
                                <p class="valor-tarjeta">Aprendizaje Continuo</p>
                            </div>
                            <div class="col-12 col-md-6">
                                <p class="valor-tarjeta">Comunicación Asertiva</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</main>

    <section class="quienes-somos-equipo">
        <div class="container">
            <div class="text-center my-5">
                <h2 class="h4">NUESTROS PERFILES PROFESIONALES</h2>
                <hr class="mx-auto" style="width: 50%;">
            </div>

            <div class="row g-4">
                <div class="col-12 col-xl-10 mx-auto">
                    <div class="socio-tarjeta p-4 shadow-sm">
                        <div class="row align-items-start g-3">

                            <div class="col-md-4 col-lg-3">
                                <div class="img-container" style="max-width: 250px; width: 100%;">
                                    <img src="imagenes/agustin-perez.webp" alt="Agustin Perez"
                                        class="img-fluid rounded" loading="lazy">
                                </div>
                            </div>

                            <div class="col-md-8 col-lg-9">
                                <div class="socio-tarjeta-contenido">
                                    <span class="h4 d-block fw-bold mb-2">Agustin Perez</span>
                                    <p class="socio-tarjeta-descripcion text-muted mb-2">Desarrollador Full Stack apasionado por la creación de soluciones tecnológicas integrales. Cuento con una sólida trayectoria tanto en e trabajo independiente como en la colaboración dentro de equipos multidisciplinarios. Mi enfoque se centra en la arquitectura de aplicaciones orientadas a la gestión empresarial, desde la gestión de base de datos la lógica del backend, hasta la creación de interfaces dinámicas. Mi objetivo es combinar la fundamentación teórica con la práctica para transformar ideas en aplicaciones webs.</p>

                                    <a href="https://github.com/AgussPerez" target="_blank" rel="noopener noreferrer" class="text-primary text-decoration-none fw-bold">
                                        Ver repositorio github
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-xl-10 mx-auto">
                    <div class="socio-tarjeta p-4 shadow-sm">
                        <div class="row align-items-start g-3">

                            <div class="col-md-4 col-lg-3">
                                <div class="img-container" style="max-width: 250px; width: 100%;">
                                    <img src="imagenes/adriel-delosanto.webp" alt="Adriel Delosanto" class="img-fluid rounded" loading="lazy">
                                </div>
                            </div>
                            <div class="col-md-8 col-lg-9">
                                <div class="socio-tarjeta-contenido">
                                    <span class="h4 d-block fw-bold mb-2">Adriel Delosanto</span>
                                    <p class="socio-tarjeta-descripcion text-muted mb-2">Desarrollador Full Stack en formación, con orientación hacia la resolución de problemas complejos y el desarrollo de soluciones tecnológicas de calidad. Actualmente cursando la Tecnicatura Superior en Desarrollo de Software, adquiriendo experiencia sólida en proyectos reales que integran diseño, funcionalidad y buenas prácticas de desarrollo. Me caracterizo por la proactividad, el compromiso y la capacidad de adaptarme a entornos dinámicos y de trabajo en equipo. Busco seguir creciendo profesionalmente aportando valor en cada proyecto que integro.</p>
                                    <a href="https://github.com/adriel1364" target="_blank" rel="noopener noreferrer" class="text-primary text-decoration-none fw-bold">
                                        Ver repositorio github
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-xl-10 mx-auto">
                    <div class="socio-tarjeta p-4 shadow-sm">
                        <div class="row align-items-start g-3">

                            <div class="col-md-4 col-lg-3">
                                <div class="img-container" style="max-width: 250px; width: 100%;">
                                    <img src="imagenes/emilse-jimenez.webp" alt="Emilse Jimenez" class="img-fluid rounded" loading="lazy">
                                </div>
                            </div>
                            <div class="col-md-8 col-lg-9">
                                <div class="socio-tarjeta-contenido">
                                    <span class="h4 d-block fw-bold mb-2">Emilse Jimenez</span>
                                    <p class="socio-tarjeta-descripcion text-muted mb-2">Profesional con una sólida trayectoria en educación, coordinación de equipos y gestión de proyectos, actualmente enfocada en mi transición estratégica hacia el desarrollo de software. Como estudiante avanzada de la Tecnicatura Superior en Desarrollo de Software (ISPC), combino mi experiencia técnica con una visión interdisciplinaria del negocio. Me destaco por mi capacidad de liderazgo, comunicación asertiva y el uso de metodologías ágiles para optimizar el trabajo en equipo y la entrega de soluciones.
                                    </p>
                                    <a href="https://github.com/Emijim" target="_blank" rel="noopener noreferrer" class="text-primary text-decoration-none fw-bold">
                                        Ver repositorio github
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-xl-10 mx-auto">
                    <div class="socio-tarjeta p-4 shadow-sm">
                        <div class="row align-items-start g-3">

                            <div class="col-md-4 col-lg-3">
                                <div class="img-container" style="max-width: 250px; width: 100%;">
                                    <img src="imagenes/alexis-lazarte.webp" alt="Alexis Lazarte" class="img-fluid rounded" loading="lazy">
                                </div>
                            </div>
                            <div class="col-md-8 col-lg-9">
                                <div class="socio-tarjeta-contenido">
                                    <span class="h4 d-block fw-bold mb-2">Alexis Lazarte</span>
                                    <p class="socio-tarjeta-descripcion text-muted mb-2">Profesional con más de una década de experiencia en el diagnóstico, instalación y mantenimiento de sistemas físicos complejos, lo que me ha permitido desarrollar una capacidad analítica excepcional para la resolución de problema. Actualmente, estoy integrando esta sólida trayectoria técnica con mi formación en Desarrollo de Software en el ISPC. Mi enfoque combina la lógica aplicada de la automatización con la arquitectura de soluciones digitales. Me destaco por mi adaptabilidad, el compromiso con la eficiencia operativa y una mentalidad orientada a resultados, buscando siempre tender puentes entre la complejidad técnica y la usabilidad práctica.</p>
                                    <a href="https://github.com/AlexisLazarte" target="_blank" rel="noopener noreferrer" class="text-primary text-decoration-none fw-bold">
                                        Ver repositorio github
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-xl-10 mx-auto">
                    <div class="socio-tarjeta p-4 shadow-sm">
                        <div class="row align-items-start g-3">

                            <div class="col-md-4 col-lg-3">
                                <div class="img-container" style="max-width: 250px; width: 100%;">
                                <img src="imagenes/bruno-razzotti.webp" alt="Bruno Razzotti" class="img-fluid rounded" loading="lazy">
                            </div>
                        </div>
                        <div class="col-md-8 col-lg-9">
                            <div class="socio-tarjeta-contenido">
                                <span class="h4 d-block fw-bold mb-2">Bruno Razzotti</span>
                                <p class="socio-tarjeta-descripcion text-muted mb-2"> Desarrollador Full Stack con experiencia en el
                                    desarrollo de aplicaciones web modernas, participando tanto en la creación de interfaces de usuario como en la implementación de lógica de negocio e integración de APIs. Especializado en React, enfocado en construir experiencias dinámicas, responsivas y de alto rendimiento. Con conocimientos en tecnologías frontend y backend, bases de datos y desarrollo de soluciones escalables orientadas a las necesidades del usuario y del negocio.</p>
                                <a href="https://github.com/BrunoRazzotti" target="_blank" rel="noopener noreferrer"class="text-primary text-decoration-none fw-bold">
                                    Ver repositorio github
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

