/* PERFIL NAV */

.perfil-nav-link {
    display: flex;
    align-items: center;
    gap: .75rem;
}

.perfil-nav-avatar {
    width: 38px;
    height: 38px;
    border-radius: var(--radio-full);
    object-fit: cover;
    border: 2px solid var(--gris-200);
}

.navbar-toggler{
    border: none;
}

.navbar-toggler:focus{
    box-shadow: none;
}
/* HERO */

.hero{
    position:relative;
    height:500px;
}

.hero img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.hero-contenido{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
    color:white;
}

.hero h1{
    font-size:3rem;
    margin-bottom:1rem;
}

.hero p{
    margin-bottom:1.5rem;
}

/* SERVICIOS */

.seccion-titulo{
    text-align:center;
    margin-bottom:2rem;
}

/* HABITACIONES */
.tarjeta img{
    height:250px;
    width:100%;
    object-fit:cover;
}

.habitacion-contenido{
    padding:1rem;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
